* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, rgb(0, 130, 117) 15%, rgba(218,219,211,1) 15%);
    height: 100vh;
    padding-top: 2rem;
}

#app {
    background-color: white;
    height: 90vh;
    max-width: 1094px;
    margin: 0 auto;
}

#chatContainer {
    height: 100%;
    width: 35%;
}

#convContainer {
    height: 100%;
    width: 65%;
    background-image: url(../img/mine.jpg);
}

#user { border-right: 0.05rem solid gray; }

#user, #contactInfo { padding: 0.3rem 0.5rem; }

#user img, #contactInfo img, li img {
    width: 2.5rem;
    border-radius: 50%;
    margin: 0.3rem;
}

#Btns a { padding: 0 0.3rem; }

#notifications, li {
    padding-left: 0.6rem;
    min-height: 4rem;
}

.fa-bell-slash {
    padding: 0.6rem 0.5rem 0.5rem;
    border-radius: 50%;
    aspect-ratio: 1;
}

#notificationsText { padding-left: 0.5rem; }

#notificationsText a, li span { font-size: small; }

#searchBar {
    margin: 0.3rem;
    width: 100%;
    border-radius: 4px;
    border: 0.05rem solid gray;
}

#searchBar input {
    padding: 0.5em;
    border: none;
    width: 90%;
    background-color: white;
}

#searchBtn {
    background-color: white;
    padding: 0.27em;
    border: none;
    margin-left: 0.5em;
    width: 8%;
}

#chatList, #convo { overflow-y: auto; }

li { list-style-type: none; }

#lastMsgPreview { 
    font-size: 0.5rem; 
    margin: 0.2rem 0.2rem 0 0;
}

.msgBubble {
    min-width: auto;
    min-height: auto;
    border-radius: 8px;
    padding: 0.4rem;
    margin: 0.3rem 1rem;
}

.msgBubble span { font-size: 0.6rem; }

#inputBox, #searchBar { min-height: auto;}

#inputBox input {
    padding: 0.6rem;
    width: 80%;
    margin: 0.3rem;
    border-radius: 4px;
    border: 0.05rem solid gray;
}

#inputBox button { border: none; }


/* utilities */
.d-flex { display: flex; } 
.flex-column { flex-direction: column; }
.justify-between {justify-content:space-between}
.justify-center {justify-content: center}
.justify-end {justify-content: flex-end;}
.justify-around {justify-content: space-around;}
.justify-start {justify-content: flex-start}
.align-center {align-items:center}
.align-self-start { align-self: flex-start; }

.d-none { display: none; }
.d-grid { display: grid; }
.active { background-color: #dadcdc; }
.sent { background-color: rgb(62, 218, 62); }
.received { background-color: rgb(243, 239, 239); }

.bg-header { background-color: #EAEAEA; }
.bg-blue { background-color: #8EDAFC; }
.bg-white { background-color: white; }
.blue { color: #8EDAFC; }
.gray { color: gray; }

