<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/style.css">
        <script src="https://unpkg.com/vue@3.3.8/dist/vue.global.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
        <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
        <title>Boolzapp</title>
    </head>


    <!-- NO BOOTSTRAP VERSION -->
    <body>
        <div id="app" class="d-flex">
            <!-- left -->
            <div id="chatContainer" class="d-flex flex-column">
                <div id="user" class="d-flex align-center justify-between">

                    <img src="https://placehold.co/10" alt="">
                    <h4>Diletta</h4>

                    <div id="userBtns">
                        <!-- still need style -->
                        <a href="#"><i class="fa-solid fa-circle-notch"></i></a>
                        <a href="#"><i class="fa-solid fa-message"></i></a>
                        <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                    </div>

                </div>

                <!-- notifications banner -->
                <div class="d-flex align-center"> <!-- needs background -->
                    <i class="fa-solid fa-bell-slash"></i>   <!-- needs style -->
                    <div class="d-flex flex-column">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <!-- search bar -->
                <div id="searchBar">
                    <div>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" id="search" placeholder="Cerca o inizia una nuova chat" @keyup="filterContacts()" v-model="search">
                    </div>
                </div>

                <!-- chat list -->
                <div id="chatList">
                    <ul v-if="filteredList">
                        <!-- contact generator -->
                        <li class="d-flex align-center" v-for="contact, i in filteredList" @click="selectChat(i)" :class="chatIndex == i ? 'active' : ''">
                            <img :src="contact.avatar" :alt="contact.name">
                            <div>
                                <h4>{{contact.name}}</h4>
                                <!-- <span v-if="contact.messsages[0].message">{{contact.messsages[i].message}}</span> -->
                            </div>
                            

                            <!-- last message -->
                            <!-- lavora non così ma col contact.messages[index].message, così ripesca l'ultimo messaggio quando ripesca il nome -->


                        </li>
                    </ul>

                    <ul v-else>
                        <!-- contact generator -->
                        <li class="d-flex align-center" v-for="contact, i in contacts" @click="selectChat(i)" :class="chatIndex == i ? 'active' : ''">
                            <img :src="contact.avatar" :alt="contact.name">
                            <div>
                                <h4>{{contact.name}}</h4>
                                <!-- <span v-if="contact.messsages[0].message">{{contact.messsages[i].message}}</span> -->
                            </div>
                            

                            <!-- last message -->
                            <!-- lavora non così ma col contact.messages[index].message, così ripesca l'ultimo messaggio quando ripesca il nome -->


                        </li>
                    </ul>

                </div>

            </div>


            <!-- right -->
            <div id="convContainer" class="d-flex flex-column justify-between">
                <div id="contactInfo" class="d-flex align-center">
                    <img :src="contacts[chatIndex].avatar" :alt="contacts[chatIndex].name">
                    <div>
                        <h4>{{contacts[chatIndex].name}}</h4>
                        <!-- <span>{{contacts[chatIndex].messages[0].date}}</span> -->
                    </div>
                    <!-- {{contact[0].avatar}}
                    {{contact[0].name}} -->
                    <!-- ultimo accesso -->
                </div>

                <div id="convo">
                    <!-- w/ flex: sent = justify-end, green; received = grey. w/ Bootstrap: offset?  -->
                    
                    <!-- c'è da modificare un attimo la visualizzazione della chat. però funziona al click --> 
                    <ul>
                    
                        <li v-for="message in contacts[chatIndex].messages"> <!-- :class="message.status == 'sent' ? 'justify-end' : '' " -->
                            <div>
                                {{message.message}}
                                <span>{{message.date}}</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div id="messageBox">
                    <span><i class="fa-regular fa-face-smile"></i></span>
                    <input type="text" placeholder="Scrivi un messaggio" v-on:keyup.enter="sendMessage" v-model="myText">
                    <button id="sendBtn" @click="sendMessage"><i class="fa-solid fa-paper-plane"></i></button> <!-- @click send message -->
                    <span><i class="fa-solid fa-microphone"></i></span> <!-- @click voice message?? -->
                </div>
            </div>

        </div>
        
        <script src="js/main.js"></script>
    </body>
</html>